.each-slide>div {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  height: 500px;
}

.slideColor {
  /* background: rgb(255, 0, 0); */
  color: red;
}



@media (max-width: 600px) {
  .slide {
    display: none;
  }
}